@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import '/node_modules/bootstrap/dist/css/bootstrap.css';
@import "src/styles/partials/_mixins.scss";
@import "src/styles/partials/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn-boolBnB {
    background: transparent;
    position: absolute;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255, 56, 92);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255, 56, 92);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.btn-boolBnB span {
    margin: 10px;
}

.btn-boolBnB::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.btn-boolBnB:hover {
    color: #fff;
    border: 1px solid rgb(255, 56, 92);
}

.btn-boolBnB:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 56, 92);
}

// btn canvass

.cssbuttons-io-button {
    background: rgb(255, 56, 92);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em rgb(255, 56, 92);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(255, 56, 92);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: rgb(255, 56, 92);
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  